
.ivu-notice {
  margin-right: 24px !important;
  max-width: calc(100vw - 24px * 2);
  z-index: 99999;
}

.ivu-notice-notice {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
}

.notify-link {
  color: #000;
}

.notify-link:hover {
  color: #000
}